@font-face {
  font-family: "JetBrains Mono Nerd";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/JetBrainsMonoNLNerdFont-Regular.ttf") format("truetype");
}

.code-block {
  position: relative;
  margin: 1em 0;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #ddd;
}

/* 上方工具栏 */
.code-toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ddd;
  padding: 4px 8px;
}

/* 按钮样式 */
.prismjs-copy-button {
  background: #bbb;
  color: #444;
  border: none;
  border-radius: 4px;
  padding: 3px 8px;
  font-size: 12px;
  cursor: pointer;
  opacity: 0.7;
  transition:
    opacity 0.2s,
    background 0.2s;
}

.prismjs-copy-button:hover {
  opacity: 1;
  background: #aaa;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: "JetBrains Mono Nerd", "JetBrains Mono", monospace !important;
  line-height: 1.5 !important;
  font-weight: 400 !important;
  font-style: normal !important;
  letter-spacing: 0 !important;
}
